<h1>ユーザー一覧</h1>

<%= link_to '新規作成', new_admin_user_path %>

<table>
  <tr>
    <th>ID</th>
    <th>ユーザー名</th>
    <th>削除</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>
        <%= button_to '削除', admin_user_path(user), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

